In [126]:
import pandas as pd

In [127]:
churnData = pd.read_csv('files_for_lab/Customer-Churn.csv')
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [128]:
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce')
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7032 non-null   float64
 15  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 880.5+ KB

In [129]:
churnData['TotalCharges'] = churnData['TotalCharges'].fillna(churnData['TotalCharges'].mean())
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [130]:
churnData.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [131]:
churnData_features = churnData[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']] 
churnData_features.sample(10)

      tenure  SeniorCitizen  MonthlyCharges  TotalCharges
397       34              0           73.95       2524.45
634       40              0           54.55       2236.20
6309      71              0           25.60       1888.25
4759       1              0           78.95         78.95
1096       7              0           81.25        580.10
5775      58              0           82.50       4828.05
4334      11              0           76.40        838.70
3505       9              0           24.95        190.25
3020      33              0           34.05       1113.95
6314       6              0           73.85        401.30

In [132]:
churnData_features.describe()

            tenure  SeniorCitizen  MonthlyCharges  TotalCharges
count  7043.000000    7043.000000     7043.000000   7043.000000
mean     32.371149       0.162147       64.761692   2283.300441
std      24.559481       0.368612       30.090047   2265.000258
min       0.000000       0.000000       18.250000     18.800000
25%       9.000000       0.000000       35.500000    402.225000
50%      29.000000       0.000000       70.350000   1400.550000
75%      55.000000       0.000000       89.850000   3786.600000
max      72.000000       1.000000      118.750000   8684.800000

In [133]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
churnData_features_scaled = scaler.fit_transform(churnData_features)

In [134]:
churnData_features_scaled

array([[0.01388889, 0.        , 0.11542289, 0.0012751 ],
       [0.47222222, 0.        , 0.38507463, 0.21586661],
       [0.02777778, 0.        , 0.35422886, 0.01031041],
       ...,
       [0.15277778, 0.        , 0.11293532, 0.03780868],
       [0.05555556, 1.        , 0.55870647, 0.03321025],
       [0.91666667, 0.        , 0.86965174, 0.78764136]], shape=(7043, 4))

In [135]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(churnData_features_scaled, churnData['Churn'])

In [136]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [137]:
from sklearn.metrics import accuracy_score
print('test_score:', model.score(X_test, y_test))
print('train_score:', model.score(X_train, y_train))

test_score: 0.794434980124929
train_score: 0.7909882620219614

In [138]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          No       0.83      0.91      0.87      1295
         Yes       0.65      0.47      0.55       466

    accuracy                           0.79      1761
   macro avg       0.74      0.69      0.71      1761
weighted avg       0.78      0.79      0.78      1761

In [139]:
print('Churn Yes:', len(churnData[churnData['Churn']=='Yes']))
print('Churn No:', len(churnData[churnData['Churn']=='No']))
print('imbalance:', len(churnData[churnData['Churn']=='Yes']) / len(churnData[churnData['Churn']=='No']))

Churn Yes: 1869
Churn No: 5174
imbalance: 0.36122922303826827

In [ ]:
#SMOTE
from imblearn.over_sampling import SMOTE

In [141]:
sm = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = sm.fit_resample(X_train, y_train)
model.fit(X_train_resampled, y_train_resampled)
y_pred_SMOTE = model.predict(X_test)

In [142]:
print('train_score_SMOTE:', model.score(X_train_resampled, y_train_resampled))
print('test_score_SMOTE:', model.score(X_test, y_test))

train_score_SMOTE: 0.7356277391080175
test_score_SMOTE: 0.7223168654173765

In [143]:
print(classification_report(y_test, y_pred_SMOTE))

              precision    recall  f1-score   support

          No       0.89      0.71      0.79      1295
         Yes       0.48      0.75      0.59       466

    accuracy                           0.72      1761
   macro avg       0.69      0.73      0.69      1761
weighted avg       0.78      0.72      0.74      1761

In [144]:
yes_churn = churnData[churnData['Churn']=='Yes']
yes_churn = yes_churn[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges', 'Churn']]
no_churn = churnData[churnData['Churn']=='No']
no_churn = no_churn[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges', 'Churn']]

In [145]:
#oversampling
from sklearn.utils import resample
churn_yes_oversampled = resample(yes_churn,
                                 replace=True,
                                 n_samples=len(no_churn),
                                 random_state=42)

In [146]:
train_oversampled = pd.concat([no_churn, churn_yes_oversampled])
print(train_oversampled.shape)
train_oversampled.head()

(10348, 5)

   tenure  SeniorCitizen  MonthlyCharges  TotalCharges Churn
0       1              0           29.85         29.85    No
1      34              0           56.95       1889.50    No
3      45              0           42.30       1840.75    No
6      22              0           89.10       1949.40    No
7      10              0           29.75        301.90    No

In [147]:
X_train_over = train_oversampled.drop(columns='Churn')
y_train_over = train_oversampled['Churn']

In [148]:
LR = LogisticRegression()
LR.fit(X_train_over, y_train_over)
pred = LR.predict(X_test)

print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          No       0.77      0.90      0.83      1295
         Yes       0.50      0.26      0.34       466

    accuracy                           0.73      1761
   macro avg       0.63      0.58      0.59      1761
weighted avg       0.70      0.73      0.70      1761

c:\Users\Anast\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [149]:
#undersampling
churn_no_under = resample(no_churn,
                          replace=True,
                          n_samples=len(yes_churn),
                          random_state=42)

train_under = pd.concat([yes_churn, churn_no_under])
print(train_under.shape)
train_under.sample(10)

(3738, 5)

      tenure  SeniorCitizen  MonthlyCharges  TotalCharges Churn
4532      15              0           79.75       1111.85   Yes
1272       5              0           19.45         86.05    No
1151       1              0           18.85         18.85    No
3632      24              0           79.65       1928.70    No
2074      43              1          108.15       4600.70   Yes
4012       1              0           50.55         50.55   Yes
1718      17              0           19.90        323.15    No
3720      42              0           54.55       2455.05    No
1583       6              0           48.95        273.25    No
3812      17              0           19.65        351.55    No

In [150]:
X_train_under = train_under.drop(columns='Churn')
y_train_under = train_under['Churn']

LR = LogisticRegression()
LR.fit(X_train_under, y_train_under)
pred = LR.predict(X_test)

print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          No       0.77      0.87      0.82      1295
         Yes       0.43      0.27      0.34       466

    accuracy                           0.71      1761
   macro avg       0.60      0.57      0.58      1761
weighted avg       0.68      0.71      0.69      1761

c:\Users\Anast\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(